@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    font-family: 'Montserrat', sans-serif;
    max-width: 980px;
    overflow-x:hidden;
    position: relative;
}

body {
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
}

div.header-contacts {
    margin-bottom: 1%;
}

img.header-logo {
    width: 60%;
    margin: 10%;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
}

nav.header-menu {
    padding: 0;
}

.header-menu-list{
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 0;
}

header button {
    width: 20%;
    height: 40%;
    margin: auto;
}