@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
.header-contacts {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.header-logo {
   display: flex;
   align-self: flex-start;
   width: 320px; 
}
nav.header-menu ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
} 
